[submodule "libraries/IRremote"]
	path = libraries/IRremote
	url = https://github.com/shirriff/Arduino-IRremote.git
[submodule "libraries/Adafruit_GFX"]
	path = libraries/Adafruit_GFX
	url = https://github.com/arduino/Adafruit-GFX-Library.git
